body {
    background: blueviolet;
}


form {
    display: flex;
    flex-direction: column;
}
 
.center {
    text-align: center;
}


.form-container {
    max-width: 500px;
    text-align: center;
    background: yellow;
}

input {
    margin: 16px;
    border: 1px solid pink;
}

.bordered-div {
    background: grey;
    
}

.form-container {
    display:flex;
}

.bg- {
    background: purple;
}